.container {
  max-width: $container-max-width;
  height: 100vh;
  border: 1px solid $color-white;
  background: linear-gradient(
    289.6deg,
    $color-primary-black 0%,
    $color-primary 98.22%
  );
  display: grid;
  grid-template-rows: 15% 85%;
  grid-template-columns: 10% 90%;
  grid-template-areas: "side header" "side hero";
  overflow: hidden;
  margin: 0 auto;
}

.header {
  grid-area: header;
}

.hero {
  grid-area: hero;
  background-image: url(../img/Group2.png);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 70%;
}

.side {
  grid-area: side;
  border-right: 1px solid $color-white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4rem;
}
